/* !-------------------------- SECTION CSS VARIABLES STARTS ------------------------- */
:root {
  --main-color: #222222;
  --secondary-color: #7b7b7b;
  --tertiary-color: #bac964;
  --quaternary-color: #333333;
  --quaternary-color: ;
}
/* *-------------------------- !SECTION CSS VARIABLES ENDS ------------------------- */

/* !------------------------ SECTION TYPOGRAPHY STARTS ----------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
.text-lvl-primary {
  font-size: 70px;
  font-weight: 300;
  text-transform: capitalize;
}
.primary--custom {
  font-weight: 900;
}
.text-lvl-secondary {
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
}
.secondary--custom {
  font-weight: 900;
}
.text-lvl-tertiary {
  font-size: 25px;
  font-weight: 300;
  text-transform: capitalize;
}
.text-lvl-quaternary {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
}
.quaternary--custom {
  color: var(--tertiary-color);
}
.text-lvl-quinary {
}
.text-lvl-senary {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #cccccc;
}

.para {
  font-size: 16px;
  color: var(--secondary-color);
}
.para--custom {
  font-size: 20px;
}

/* *------------------------ !SECTION TYPOGRAPHY ENDS ----------------------- */

/* !--------------------- SECTION REUSEABLE BLOCKS STARTS -------------------- */

.section-heading__title-container {
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
}
.section-heading--custom {
  padding-top: 35px;
  padding-bottom: 25px;
}
.button {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  color: #ffffff;
  padding: 9px 30px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  text-decoration: none;
  color: #ffffff;
}
.button--green {
  background: var(--tertiary-color);
}
.button--green:hover {
  background: #b2c251;
}
.button-green-custom {
}
.button--gray {
  background: var(--secondary-color);
}
.button--gray:hover {
  background: #5a6268;
}
/* *--------------------- !SECTION REUSEABLE BLOCKS ENDS -------------------- */

/* !----------------------- SECTION SECTION HERO STARTS ---------------------- */
.section-hero {
  background-image: linear-gradient(
      to right,
      rgba(19, 19, 19, 0.6),
      rgba(19, 19, 19, 0.6)
    ),
    url("images/image_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar--custom {
  background: transparent !important;
  padding-top: 35px;
}
.nav-item-custom {
  padding: 0 15px;
}
.nav-link-custom {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff !important;
}
.section-hero__body-container {
  padding: 270px 0;
}
.section-hero__title-container {
  margin-top: 50px;
}
.section-hero__para-container {
  padding-top: 15px;
}
.section-hero__para--custom {
  color: #bbbbbb;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* *----------------------- !SECTION SECTION HERO ENDS ---------------------- */

/* !-------------------- SECTION SECTION PORTFOLIO STARTS -------------------- */
.section-portfolio {
  background: var(--main-color);
  overflow: hidden;
  padding-bottom: 70px;
}
.navbar-custom {
  background: transparent !important;
}
.link--custom {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff !important;
}
.active {
  color: var(--tertiary-color) !important;
}
.link--custom:hover {
  color: var(--tertiary-color) !important;
}
/* *-------------------- !SECTION SECTION PORTFOLIO ENDS -------------------- */

/* !---------------------- SECTION SECTION RESUME STARTS --------------------- */
.section-resume {
  background: var(--main-color);
}
.section-resume__card-container {
  overflow: hidden;
  background-color: #333333;
  margin-left: -17px;
  padding: 15px 30px;
  padding-top: 30px;
  border-radius: 10px;
}
.card-container--custom {
  margin-left: 0;
}
.icon--custom {
  font-size: 12px;
}
.card-icon__left-para {
  font-size: 12px;
  text-transform: capitalize;
}
/* *---------------------- !SECTION SECTION RESUME ENDS --------------------- */

/* !--------------------- SECTION SECTION ABOUT US STARTS -------------------- */
.section-about {
  background: var(--main-color);
  text-align: left;
  padding: 100px 0;
}
.section-about__img-container,
.about-img--custom {
  height: 100%;
}
.section-about__right-area {
  padding: 0 50px;
}
.section-about__button-container {
  padding-top: 40px;
}
/* *--------------------- !SECTION SECTION ABOUT US ENDS -------------------- */

/* !------------------- SECTION SECTION TESTIMONIAL STARTS ------------------- */
.section-testimonial {
  background: var(--main-color);
}
.section-testimonial__img--custom {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.section-testimonial__text-container {
  background: #333333;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 9px 6px 11px 3px rgba(33, 33, 33, 0.64);
  -moz-box-shadow: 9px 6px 11px 3px rgba(33, 33, 33, 0.64);
  box-shadow: 9px 6px 11px 3px rgba(33, 33, 33, 0.64);
}
.section-testimonial__text-container::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 14px solid #333333;
  border-bottom: 14px solid transparent;
  left: -14px;
  top: 30px;
}
.blockquote--custom {
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 25px;
}
.cite--custom {
  font-size: 14px;
  color: #666666;
}
.cite-link {
  text-decoration: none;
  color: var(--tertiary-color);
}
.cite-link:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}
/* *------------------- !SECTION SECTION TESTIMONIAL ENDS ------------------- */

/* !--------------------- SECTION SECTION SERVICES STARTS -------------------- */
.section-services {
  background: var(--main-color);
  padding-top: 70px;
  padding-bottom: 35px;
}
.section-services__card-container {
  background: #333333;
  padding: 30px;
}
.section-services__icon-container {
  padding-bottom: 25px;
}
.section-services__icon-custom {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  background: var(--tertiary-color);
  font-size: 40px;
  line-height: 100px;
}
.section-services__link-container {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--tertiary-color);
  transition: all 0.3s ease-in-out;
}
.section-services__link-container:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}
.link-icon-custom {
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.section-services__link-container:hover .link-icon-custom {
  margin-left: 30px;
}
/* *--------------------- !SECTION SECTION SERVICES ENDS -------------------- */

/* !---------------------- SECTION SECTION FOOTER STARTS --------------------- */
.section-footer {
  background: var(--main-color);
  padding: 40px 0;
}
.footer-para-custom {
  display: inline-block;
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 0.3s ease-in-out;
}
.footer-para-custom:hover {
  text-decoration: none;
  color: #879539;
}
.section-footer__social-icon {
  padding: 25px 0;
}
.section-footer__social-icon-item {
  display: inline-block;
  margin: 0 10px;
}
.section-footer__social-icon-links {
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #333333;
  color: var(--tertiary-color);
}
.section-footer__social-icon-links:hover {
  text-decoration: none;
  background: #333333;
  color: var(--tertiary-color);
}
.section-footer__social-icon-links i {
  font-size: 22px;
  line-height: 60px;
}
/* *---------------------- !SECTION SECTION FOOTER ENDS --------------------- */
